マイページ 18P

<div class="container">
  <div class="row pt-5">
    <h4><strong>マイページ</strong></h4>
  </div>
  <div class="row pt-3 justify-content-center">
    <table>
      <tbody>
        <tr>
          <td><label>氏名</label></td>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <td><label>フリガナ</label></td>
          <td><%= @customer.name_kana %></td>
        </tr>
        <tr>
          <td><label>メールアドレス</label></td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td><label>電話番号</label></td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td>
            <%= link_to "編集する", customers_information_edit_path, class: "btn btn-outline-success", style: "font-weight: bold;" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
