<!--部分テンプレート：料理投稿詳細-->

<div class="col-4 text-right">
  <div><%= image_tag cooking_post.get_cooking_post_image(200, 200) %></div>
</div>

<div class="col-8">
  <div class="row pb-2">
    <div class="col-2 text-right"><strong>料理名</strong></div>
    <div class="col-3"><%= cooking_post.name %></div>
    <div class="col-2 text-right"><strong>投稿者</strong></div>
    <div class="col-3"><%= customer.name %></div>
  </div>

  <div class="row pb-2">
    <div class="col-2 text-right"><strong>紹介文</strong></div>
    <div class="col-8" style="height: auto;"><%= simple_format(cooking_post.introduction) %></div> <!--入力時の改行を反映-->
  </div>

  <% if customer == current_customer %> <!--ログインユーザーが投稿者なら表示-->
    <div class="row pt-2 pb-2">

      <div class="col-10 text-center">
        <div style="display: inline-block;">
          <%= link_to "編集する", edit_cooking_post_path(cooking_post), class: "btn btn-outline-success", style: "font-weight: bold;" %>
        </div>
        <div class="ml-5" style="display: inline-block;">
          <%= button_to "削除する", cooking_post_path(cooking_post), method: :delete, class: "btn btn-danger", data: {confirm: '本当に削除しますか？'} %>
        </div>
      </div>

    </div>
  <% end %>

</div>
