料理投稿一覧ページ 26P

<div class="container">
  <div class="row pt-5">
    <h4><strong>料理投稿一覧</strong></h4>
  </div>
  <div class="row pt-3 justify-content-center">
    <table>
      <thead>
        <tr>
          <th>レシピID</th>
          <th>料理名</th>
          <th>投稿者</th>
        </tr>
      </thead>
      <tbody>
        <% @cooking_posts.each do |cooking_post| %>
          <tr>
            <td><%= cooking_post.id %></td>
            <td>
              <%= link_to admin_cooking_post_path(cooking_post), style: "color: black; text-decoration: underline;" do %>
                <%= cooking_post.name %>
              <% end %>
            </td>
            <td><%= cooking_post.customer.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col">
      <%= paginate @cooking_posts, class: "pagination" %>
    </div>
  </div>
</div>
