<!--管理者ログインページ 21P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>管理者ログイン</strong></h4>
    </div>
  </div>

  <div class="row py-3">
    <div class="col-md-6 text-center">
      <p class="d-inline px-3" style="border-bottom: 1px solid;">管理者専用のログインです</p>
    </div>
  </div>

  <%= form_with model: @admin, url: admin_session_path do |f| %>
    <%#= render "public/shared/error_messages", resource: resource %>

    <div class="row pb-2">
      <div class="col-4 text-right offset-1"><%= f.label "メールアドレス" %></div>
      <div class="col-5 p-0"><%= f.email_field :email, autofocus: true, required: true, autocomplete: "email" %></div>
    </div>

    <div class="row pb-2">
      <div class="col-4 text-right offset-1"><%= f.label "パスワード" %></div>
      <div class="col-5 p-0"><%= f.password_field :password, required: true, autocomplete: "current-password" %></div>
    </div>

    <div class="row pb-2">
      <% if devise_mapping.rememberable? %>
        <div class="col-4 text-right offset-1"><%= f.check_box :remember_me %></div>
        <div class="col-5 p-0"><%= f.label :remember_me %></div>
      <% end %>
    </div>

    <div class="row pb-2">
      <div class="col-4 offset-4 text-center"><%= f.submit "ログイン", class: "btn btn-primary", style: "font-weight: bold; background-color: rgba(0, 123, 255, 0.5);" %></div>
    </div>
  <% end %>

</div>
