<!--特定の会員の投稿一覧ページ 25P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong><%= @customer.name %>さんの投稿一覧</strong></h4>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-9 mx-auto">
      <div class="table-responsive">
        <table class="table">
          <thead class="font-weight-bold" style="background-color: #dfdfdf;">
            <tr class="text-center">
              <th>画像</th>
              <th>料理名</th>
            </tr>
          </thead>
          <tbody>
            <% @cooking_posts.each do |cooking_post| %>
              <tr class="text-center">
                <td><%= image_tag cooking_post.get_cooking_post_image(70, 70) %></td>
                <td>
                  <%= link_to admin_cooking_post_path(cooking_post.id), style: "color: black; text-decoration: underline;" do %>
                    <%= cooking_post.name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--ページネーション-->
  <div class="row">
    <div class="col">
      <%= paginate @customers, class: "pagination" %>
    </div>
  </div>

</div>
