<!--料理投稿編集ページ 16P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>投稿編集</strong></h4>
    </div>
  </div>

  <%= form_with model: @cooking_post, url: cooking_post_path(@cooking_post) do |f| %>

    <div class="row pb-2">
      <div class="col-3 text-right offset-1"><%= f.label :"料理画像" %></div>
      <div class="col-5 p-0"><%= f.file_field :cooking_post_image, accept: "image/*" %></div>
    </div>

    <div class="row pb-2">
      <div class="col-3 text-right offset-1"><%= f.label :"料理名" %></div>
      <div class="col-5 p-0"><%= f.text_field :name, required: true, style: "width: 100%;" %></div>
    </div>

    <div class="row pb-2">
      <div class="col-3 text-right offset-1"><%= f.label :"紹介文" %></div>
      <div class="col-5 p-0"><%= f.text_area :introduction, required: true, rows: 5, style: "width: 100%;" %></div>
    </div>

    <div class="row pt-2 pb-2">
      <div class="col-4 offset-4 text-center"><%= f.submit "変更を保存", class: "btn btn-success", style: "font-weight: bold;" %></div>
    </div>

  <% end %>

</div>
