<!--料理新規投稿ページ 17P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>新規投稿</strong></h4>
    </div>
  </div>

  <%= form_with model: @cooking_post, url: cooking_posts_path do |f| %>

    <div class="row pb-2">
      <div class="col-3 text-right offset-1"><%= f.label :"料理画像" %></div>
      <div class="col-3 p-0"><%= f.file_field :cooking_post_image, accept: "image/jpg" %></div>
    </div>

    <div class="row pb-2">
      <div class="col-3 text-right offset-1"><%= f.label :"料理名" %></div>
      <div class="col-3 p-0"><%= f.text_field :name, placeholder: "きんぴらごぼう", style: "width: 100%;" %></div>
    </div>

    <div class="row pb-2">
      <div class="col-3 text-right offset-1"><%= f.label :"紹介文" %></div>
      <div class="col-3 p-0"><%= f.text_area :introduction, placeholder: "ごぼうと人参が余っていたのでお手軽に作ってみました。", rows: 5, style: "width: 100%;" %></div>
    </div>

    <div class="row pb-2">
      <div class="col-3 offset-4"><%= f.submit "新規投稿", class: "btn btn-success", style: "font-weight: bold;" %></div>
    </div>

  <% end %>

</div>
