<!--料理投稿の検索結果ページ 13P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>みんなの投稿一覧</strong></h4>
    </div>
  </div>

  <div class="row py-3">
    <div class="col-md-9 text-right">
      <p class="d-inline px-3" style="border-bottom: 1px solid;">" <%= @content %> "の検索結果</p>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-9 mx-auto">
      <div class="table-responsive">
        <table class="table">
          <thead class="font-weight-bold" style="background-color: #dfdfdf;">
            <tr class="text-center">
              <th>画像</th>
              <th>料理名</th>
              <th>投稿者</th>
            </tr>
          </thead>
          <tbody>
            <% @records.each do |record| %>
              <% if record.is_a?(CookingPost) %>
                <tr class="text-center">
                  <td><%= image_tag record.get_cooking_post_image(70, 70) %></td>
                  <td>
                    <%= link_to cooking_post_path(record), style: "color: black; text-decoration: underline;" do %>
                      <%= record.name %>
                    <% end %>
                  </td>
                  <td><%= record.customer.name %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
