料理投稿詳細ページ 15P

<div class="container">
  <div class="row pt-5">
    <h4><strong>投稿詳細</strong></h4>
  </div>
  <div class="row pt-3 justify-content-center">
    <div class="col-4">
      <div><%= image_tag @cooking_post.get_cooking_post_image(200, 200) %></div>
    </div>
    <div class="col-8">
      <table>
        <tbody>
          <tr>
            <td><label>料理名：<%= @cooking_post.name %></label></td>
            <td><label>投稿者：<%= @cooking_post.customer.name %></label></td>
          </tr>
          <tr>
            <td><label>紹介文</label></td>
            <td><%= @cooking_post.introduction %></td>
          </tr>
          <% if @user == current_customer %> <!--ログインユーザーが投稿者なら表示-->
            <tr>
              <td>
                <%= link_to "編集する", edit_cooking_post_path(@cooking_post), class: "btn btn-outline-success", style: "font-weight: bold;" %>
                <%= button_to "削除する", cooking_post_path(@cooking_post), method: :delete, class: "btn btn-outline-danger", data: {confirm: '本当に削除しますか？'} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
