<!--通知一覧ページ 5P-->
<div class="container">

  <div class="row py-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>通知一覧</strong></h4>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-9 mx-auto">
      <div class="table-responsive">

        <!--どちらか一方、または両方のデータがあるなら表示（期限が近い食材があるなら表示）-->
        <% if @near_expiry_home_foods.present? || @near_best_before_home_foods.present? %>
          <table class="table">
            <thead class="font-weight-bold" style="background-color: #dfdfdf;">
              <tr class="text-center">
                <th>内容</th>
                <th>消費期限/賞味期限</th>
              </tr>
            </thead>
            <tbody>
              <!--消費期限の近い食材があったら表示-->
              <% if @near_expiry_home_foods.present? %>
                <% @near_expiry_home_foods.each do |home_food| %>
                  <tr class="text-center">
                    <!--HomeFoodモデルに記述したremaining_expiration_daysメソッド呼び出し（消費期限が2日以内なら表示）-->
                    <% if home_food.remaining_expiration_days >= 0 %>
                      <td><%= home_food.name %>の消費期限が<%= home_food.remaining_expiration_days %>日後に切れます</td>
                      <td><%= home_food.expiration_date %></td>
                    <!--HomeFoodモデルに記述したexpired_daysメソッド呼び出し-->
                    <% else %>
                      <td style="background-color: #fafafa;"><%= home_food.name %>の消費期限が<%= home_food.expired_days %>日過ぎています</td>
                      <td style="background-color: #fafafa;"><%= home_food.expiration_date %></td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
              <!--賞味期限の近い食材があったら表示-->
              <% if @near_best_before_home_foods.present? %>
                <% @near_best_before_home_foods.each do |home_food| %>
                  <tr class="text-center">
                    <% if home_food.remaining_best_before_days >= 0 %>
                      <td><%= home_food.name %>の賞味期限が<%= home_food.remaining_best_before_days %>日後に切れます</td>
                      <td><%= home_food.best_before_date %></td>
                    <% else %>
                      <td style="background-color: #fafafa;"><%= home_food.name %>の賞味期限が<%= home_food.expired_best_before_days %>日過ぎています</td>
                      <td style="background-color: #fafafa;"><%= home_food.best_before_date %></td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>

        <% else %>
          <p class="text-center">現在、期限が近い食材も期限切れの食材もありません</p>
        <% end %>

      </div>
    </div>
  </div>

  <!--ページネーション-->
  <!--<div class="row">-->
  <!--  <div class="col">-->
  <!--    <%#= paginate @near_expiry_home_foods, class: "pagination" %>-->
  <!--  </div>-->
  <!--</div>-->

</div>
