<!--食材保存場所の新規登録ページ 29P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>食材保存場所の新規登録</strong></h4>
    </div>
  </div>

  <%= form_with model: @food_strage_area, url: admin_food_strage_areas_path do |f| %>

    <div class="row pt-3 pb-2">
      <div class="col-3 text-right offset-1"><%= f.label :"食材名" %></div>
      <div class="col-5 p-0"><%= f.text_field :name, required: true, autofocus: true, placeholder: "ピザチーズ" %></div>
    </div>

    <div class="row pb-2">
      <div class="col-3 text-right offset-1"><%= f.label :"保存場所" %></div>
      <div class="col-5 p-0">
        <% FoodStrageArea.places.keys.each do |place| %> <!--enumで定義した保存場所の値を取得し、ループでそれぞれの選択肢を生成-->
          <%= f.radio_button :place, place %> <!--ラジオボタン-->
          <%= f.label :place, place %> <!--ラベル-->
        <% end %>
      </div>
    </div>

    <div class="row pt-2 pb-2">
      <div class="col-3 offset-4 text-center"><%= f.submit "新規投稿", class: "btn btn-success", style: "font-weight: bold;" %></div>
    </div>

  <% end %>

</div>
