<!DOCTYPE html>
<html>
  <head>
    <title>フードロス削減App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/44f448cde3.js" crossorigin="anonymous"></script> <!--FontAwesomeの導入-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <!--ヘッダー上段-->
      <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
          <div class="d-flex justify-content-between"> <!-- 左右に要素を分ける -->

            <!--ヘッダー上段の左側-->
            <div style="font-family: 'YourCustomFont', sans-serif; color: #404040;">
              <div style="display: inline-block; vertical-align: middle;">
                <i class="fa-solid fa-utensils" style="font-size: 2em;"></i>
              </div>
              <div style="display: inline-block; vertical-align: middle; text-align: left; margin-left: 10px;">
                <span>フードロス削減<br>アプリケーション</span>
              </div>
            </div>

            <!--ヘッダー上段の右側 -->
            <div class="d-flex"> <!--ul要素を右寄せにする-->
              <ul class="nav">
                <% unless guest? %> <!--helpers/application_helper.rbに記述したメソッド呼び出し（ゲストユーザーでなければ表示）-->
                  <li class="nav-item">
                    <%= link_to notifications_path do %>
                      <div style="text-align: center;">
                        <i class="fa-solid fa-circle-user" style="font-size: 2em;"></i>
                        <span style="display: block;">通知</span>
                      </div>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to customers_my_page_path do %>
                      <div style="text-align: center;">
                        <i class="fa-solid fa-circle-user" style="font-size: 2em;"></i>
                        <span style="display: block;">マイページ</span>
                      </div>
                    <% end %>
                  </li>
                <% end %>
                <li>
                  <%= link_to destroy_customer_session_path do %>
                    <div style="text-align: center;">
                      <i class="fa-solid fa-circle-user" style="font-size: 2em;"></i>
                      <span style="display: block;">ログアウト</span>
                    </div>
                  <% end %>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <!--ヘッダー下段-->
      <div class="px-3 py-2 border-bottom mb-3">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
              <li>
                <%= link_to "食材保存場所一覧", food_strage_areas_path, class: "btn btn-outline-secondary mr-3" %>
              </li>
              <li>
                <%= link_to "みんなの投稿一覧", cooking_posts_path, class: "btn btn-outline-secondary mr-3" %>
              </li>
              <li>
                <%= link_to "会員一覧", customers_path, class: "btn btn-outline-secondary mr-3" %>
              </li>
              <li>
                <%= link_to "自分の投稿一覧", posts_index_customers_path(current_customer.id), class: "btn btn-outline-secondary mr-3" %>
              </li>
              <li>
                <%= link_to "家庭内食材一覧", home_foods_path, class: "btn btn-outline-secondary mr-3" %>
              </li>
            </ul>

          </div>
        </div>
      </div>

    </header>

    <main>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div> <!--フラッシュメッセージ表示-->
      <% end %>
    </main>
    <%= yield %>

    <footer>
      <div class="container m-5" style="border-top: 2px double;">
        <div class="text-center text-muted" style="margin: 10px 0;">© 2024 M-MOCHI</div>
      </div>
    </footer>
  </body>
</html>
